<html>
<body>
    <img src="https://live.staticflickr.com/65535/54648460354_c56ff83c73_c.jpg"  style="width:250px;"><br>

    <p>Olá {{ avaliador.nome }},</p>
    <p>Você possui avaliações pendentes neste trimestre. Seguem os colaboradores:</p>
    <p>Período de Avaliação: de {{ data_inicio }} até {{ data_fim }}</p>
    <ul>
        {% for nome in nomes_avaliados %}
            <li>{{ nome }}</li>
        {% endfor %}
    </ul>


    <p>Por favor, acesse <a href="https://managerdb.com.br">DBManager</a> para realizar as avaliações.</p>
</body>
</html>
