<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Avaliações Pendentes - RH</title>
</head>
<body style="font-family: Arial, sans-serif;">

    <h2>Relatório de Avaliações Pendentes - {{ trimestre }}</h2>

    <p>Prezados (as),</p>
    <p>Segue abaixo a relação de avaliadores com avaliações pendentes neste trimestre:</p>

    {% for item in dados_relatorio %}
        <h3>Avaliador: {{ item.avaliador }}</h3>
        <ul>
            {% for avaliado in item.avaliados %}
                <li>{{ avaliado }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <p>Período de Avaliação: de {{ data_inicio }} até {{ data_fim }}</p>
    <p>Esse e-mail foi enviado automaticamente pelo sistema de avaliações.</p>

    <br><br>
    <img src="https://live.staticflickr.com/65535/54648460354_c56ff83c73_c.jpg"  style="width:250px;">

</body>
</html>
